.homepage-section {
  display: grid;
  grid-template-columns: 0.3fr 3.7fr 0fr 0.3fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  height: auto;
}

.navbar{
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
}
.navbar-contents{
  display: flex;
  justify-content: space-around;
  font-family: 'Roboto', sans-serif;
}
.navbar-contents a {
  padding: 0 20px;
}

.navbar-contents h2{
  cursor: pointer;
}

.image-container{
  width: 100%;
  margin: 0 auto;
}
.homepage-image-section{
  display: flex;
  flex-direction: column;
  text-align: center;
  height: auto;
  width: 100%;
  position: relative;
  
}

#text-on-image{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: 900;
  text-shadow: 2px 2px #d7e168;
  width: 100%;
  text-align: center;
  color: #27aa99;
  font-family: 'Indie Flower', cursive;
}

#buttons-on-image{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}

.projects-section{
  display: grid;
  grid-template-columns: 0.3fr 3.7fr 0fr 0.3fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  background-color: #e5eaeb;
}

.chip{
  margin: 0 5px 5px 0;
  font-weight: 900;
}

.chip:hover{
color: #41d4c1;
font-size: 13px;
font-weight: 500;
}

.aboutme-heading{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 20px;
  padding-top: 2px;
}
.project-heading{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 40px;
}

#aboutme-section{
  display: grid;
  grid-template-columns: 0.3fr 3.7fr 0fr 0.3fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  justify-content: center;
  width: 100%;
}
#aboutme-section-content img{

   border-radius: 50%;
    width: 280px;
    max-width: 100%;
    align-items: baseline;
}

#project-section-scroll{
  background-color: #e5eaeb;
  width: 100%;
  overflow: hidden;
}

#aboutme-section-scroll{
  background-color:'white';
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

#aboutme-section-content{
  width: 100%;
  display: inline-block;
  background-image: url("https://www.uidownload.com/files/154/524/981/abstract-geometric-background-in-turquoise-and-yellow-tones-thumb.jpg");
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 70px;
  text-align: center;
}


.aboutme-description{
  float: left;
  width: 70%;
  font-family: 'Roboto', sans-serif;
  padding: 25px;
  text-align: left;
  line-height: 2;
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
}
.aboutme-description p{
  font-size: 25px;
  color: black;
  text-align: left;
}
.aboutme-description h1{

  text-align: left;
}

.aboutme-image{
  padding-top: 75px;
  width: 30%;
  text-align: center;
  float: left;
}

#skills{
  line-height: 1; 
  padding: 20px 0;
}
#chips{
  display: block;
  justify-content: space-evenly;
  color: black;
  font-size: 20px;
}

#chips span{
  font-size: 15px;
  color: black;
  font-weight: 900;
}

#chips span:hover{
  font-size: 15px;
  color: #41d4c1;
  font-weight: 900;
}

.linktoproject {
  color: #fff !important;
  text-decoration: none;
  background: rgb(61, 55, 55);
  padding: 4px 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
}

.linktoproject:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
  text-decoration: none;
  opacity: 1;
  transform: translateY(-5px);
}

.flip-card {
  background-color: transparent;
  width: 345px;
  height: 250px;
  perspective: 1000px;
  padding: 20px 15px 50px;
  padding-bottom: 130px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
  border-radius: 10px;
  width: 345px;
  height: 250px;
}

.flip-card-back img{
  width: 345px;
  height: 250px;
  border-radius: 10px;
  opacity: 0.5;
}

.card-actions{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#infocontent-expand{
  margin-bottom: 30vh;
  border: 1px solid salmon;
}

#project-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;
}

#contact-section-scroll{
  background-color: #b0ede5;
  display: grid;
  grid-template-columns: 0.3fr 3.7fr 0fr 0.3fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  padding: 40px 0px;
  width: 100%;
}
#contact-section h1{
  text-align: center;
  
}
.socialmedia-icons{
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    align-items: baseline;
}

.button-container{  
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  align-items: baseline;
  align-self: center;
}

.button-container a{
  background-color: #27aa99;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}
.button-container a:hover{
  transition: all 0.4s ease 0s;
  text-decoration: none;
  opacity: 1;
  transform: translateY(-5px);
}
.download-button{
  background-color: #b0ede5;
  border: none;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 20px;
  text-decoration: none;
}



.downloadicon{
  color: white;
}


.linkedin{
  color: white;
}
.linkedin:hover{
  color: #0090df;
}

.email{
  color: white;
}
.email:hover{
  color: #32d0e4;
}
.github{
  color: white;
}
.github:hover{
  color: black;
}



@media only screen and (max-width: 375px){
 
  #text-on-image h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
    font-size: 35px;
  }
  .navbar-contents{
    font-size: 11px;
    padding-top: 10px;
   }

  #aboutme-section-content img {
    width: 200px;
  }
  
}

@media only screen and (max-width: 642px){


  /* #text-on-image{
 
    font-size: 48px;
  } */
  .navbar-contents a {
    padding: 0px 10px ;
  }
  
  .navbar-contents{
   font-size: 16px;
   padding-left: 10px;
  }
 
  .aboutme-description{
    width: 100%;
    text-align: left;
    padding: 15px;
  } 
  .aboutme-description h1{
    width: 100%;
    text-align: left;
    font-size: 30px;
  } 
  .aboutme-description p{
    width: 100%;
    text-align: left;
    font-size: 22px;
    font-weight: light;
  } 
.aboutme-image{
    width: 100%;  
    padding-top: 30px;
  } 
  .chip{
    margin: 3px;
  }
  .socialmedia-icons{
    width: 60%;
  }
 
}
@media only screen and (max-width:320px){
  .flip-card {
    background-color: transparent;
    width: 345px;
    height: 250px;
    perspective: 1000px;
    padding: 20px 8px 20px;
    padding-bottom: 130px;
}
#text-on-image h1{
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
  font-size: 10px;
}
}

@media only screen and (max-width: 1024px){

  #text-on-image{
   position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
    font-size: 53px;
  }
  #aboutme-section-content img{
    padding: 10px;
  }
}


@media only screen and (max-width: 320px){
  #aboutme-section-content img {
    width: 200px;
  }
}



@media only screen and (max-width: 432px){
 
.navbar-contents a {
    padding: 0px 10px;
  }

#logo{
  padding-top: 15px;
}

}

 
@media only screen and (max-width: 464px){

  #text-on-image h1{

    font-size: 10px;
  }
  #logo{
   margin: 5px;
  }
}

/*
@media only screen and (max-width: 720px){


  #text-on-image{
    position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
    font-size: 49px;
  }
} */
#logo{
  width: 60px;
  height: 60px;
  padding-top: 5px;
  cursor: pointer;
}
@media only screen and (max-width: 375px){
  #text-on-image h1{
    font-size: 30px;
  }
  #logo{
    width: 60px;
    height: 60px;
    padding-top: 25px;
    cursor: pointer;
  }
}
@media only screen and (max-width: 400px){
  #text-on-image h1{
      font-size: 30px;
    }
    .homepage-image-section{
      position: relative;
    }
  }
  
  
  @media only screen and (max-width: 600px)
  {
  #text-on-image h1{
      font-size: 35px;
    }
  }
  @media only screen and (max-width: 768px)
  {
  #text-on-image h1{
      font-size: 45px;
    }
  }
  @media only screen and (max-width: 800px)
  {
  #text-on-image {
      font-size: 40px;
    }
    }
  @media only screen and (max-width: 1080px)
  {
  #text-on-image {
      font-size: 45px;
    }
  }
  @media only screen and (max-width: 1366px)
  {
  #text-on-image {
      font-size: 48px;
    }
  } 
  