.homepage-section {
  display: grid;
  grid-template-columns: 0.3fr 3.7fr 0fr 0.3fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  height: auto;
}

.navbar{
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
}
.navbar-contents{
  display: flex;
  width: 80vh;
  justify-content: space-around;
  font-family: 'Roboto', sans-serif;
}

.navbar-contents h2{
  cursor: pointer;
}

.homepage-image-section{
  height: 91vh;
  background-image: url("https://images.pexels.com/photos/434337/pexels-photo-434337.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Indie Flower', cursive;
  color: #27aa99;
  
}

#text-on-image{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  font-weight: 900;
  text-shadow: 2px 2px #d7e168;

}

#buttons-on-image{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}

.projects-section{
  display: grid;
  grid-template-columns: 0.3fr 3.7fr 0fr 0.3fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  height: 600px;
}

.aboutme-heading{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 30px;
  padding: 0;
  margin: 0;
}

#aboutme-section{
  /* border: 1px solid magenta; */
  display: grid;
  grid-template-columns: 0.7fr 3.7fr 0fr 0.7fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  height: 643px;
   /* margin: 25px; */
  justify-content: center;
}
#aboutme-section-content img{
  border-radius: 50%;
  width: 280px;
  -moz-box-shadow: 0px 6px 5px #ccc;
  -webkit-box-shadow: 0px 6px 5px #ccc;
  box-shadow: 0px 6px 5px #ccc;
  margin: 30px;   
  
}

#aboutme-section-content{
  display: flex;
  flex-direction: row;
  /* border: 1px solid magenta; */
  margin: 30px;
  
}


.aboutme-description{
  text-align: center;
  width: 70%;
  font-family: 'Roboto', sans-serif;
  margin: 25px;
  text-align: left;
  line-height: 2;
  font-family: 'Josefin Sans', sans-serif;
}

/* .aboutme-image{
  border: 1px solid yellow;
} */

#skills{
  line-height: 1; 
}
#chips{
  display: flex;
  justify-content: space-evenly;
  font-weight: 600;
}

.linktoproject {
  color: #fff !important;
  text-decoration: none;
  background: rgb(61, 55, 55);
  padding: 4px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
}

.linktoproject:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
  text-decoration: none;
  opacity: 1;
  transform: translateY(-5px);
}

.flip-card {
  background-color: transparent;
  width: 345px;
  height: 250px;
  perspective: 1000px;
  padding: 20px;
  padding-bottom: 130px;
}
/* .flip-card-expand {
  background-color: transparent;
  width: 345px;
  height: 250px;
  perspective: 1000px;
  padding: 20px;
  padding-bottom: 150px;
} */

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
  border-radius: 10px;
  border-radius: 10px;
  width: 345px;
  height: 250px;
}

.flip-card-back img{
  width: 345px;
  height: 250px;
  border-radius: 10px;
  opacity: 0.5;
}

.card-actions{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#infocontent-expand{
  margin-bottom: 30vh;
  border: 1px solid salmon;
}

#project-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
